<div class="card">
  <div class="card__body">
    <font color="white"><%= link_to practice.player.name, practice_path(practice.id), class: :card__title%></font>
    <div class="card__header">
      <%= link_to practice.attempt.name, practice_path(practice.id), class: :card__summary %>
      <%= link_to "投稿者　 #{practice.user.nickname}",root_path, class: :card__user %>
    </div>
    <% if practice.videos.attached? %>
      <% if practice.videos[0].image? %>
        <%= image_tag practice.videos[0], class: :card__img %>
      <% else %>
        <%= video_tag url_for(practice.videos[0]), class: :card__img, controls: true %>
      <% end %>
    <% end %> 
  </div>
</div>