<main class="main">
  <div class="inner">
   <h2 class="page-heading">
    <%= "投稿動画一覧ページ"%>
  </h2>
   <h3><%= link_to '検索トップページへ戻る', root_path%></h3>
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.nickname}さん！", "/users/#{current_user.id}", class: :greeting__link%>
        <font color="white"><%= "練習動画をまとめておきましょう！" %></font>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'practice', collection: @practices %>
    </div>
  </div>
</main>