<main class="main">
  <div class="inner">
    <div class="practice__wrapper">
      <p class="practice__hedding">
        <%= @practice.attempt.name%>
      </p>
      <%= link_to "投稿者　 #{@practice.user.nickname}", root_path, class: :practice__user %>
      <% if user_signed_in? && @practice.user_id == current_user.id %>
        <div class="practice__manage">
          <%= link_to "編集する", edit_practice_path(@practice.id), class: :practice__btn %>
          <%= link_to "削除する", practice_path(@practice.id),data: {turbo_method: :delete}, class: :practice__btn %>
        </div>
      <% end %> 

      <% @practice.videos.each do |video| %>
        <div class="practice__image">
          <% if video.image? %>
            <%= image_tag video %>
          <% else %>  
            <%= video_tag url_for(video), class: :card__img, controls: true %>
          <% end %> 
       </div>
     <% end %>

      <% if @practice.point.present? %>
      <div class="practice__body">
        <div class="practice__detail">
          <p class="detail__title">～見てほしいポイント～</p>
          <p class="detail__message" >
            <%= @practice.point %>
          </p>
        </div>
      </div>
      <% end %>
      <div class="practice__comments">
        <%# コメントフォームは常に表示するが、未ログイン状態で投稿しようとしたらログイン画面へ %> 
          <%= form_with model: [@practice, @comment], id: "new_comment", local: true do |f|%>
            <div class="field2">
              <%= f.label :content, "～ コメント ～", class:"comment__header" %><br />
              <div id="comments"></div>
              <%= f.file_field :video, name: "comment[video]", id:"practice_video" %> 
            </div>
            <div class="actions1">
               <%= f.text_field :content, class:"comment__content", id:"comment_content" %>
               <%= f.submit "送信する", class: :form__btn  %>
            </div>
           <% end %> 
          <ul class="comments_lists">
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <% if comment.video.attached? %>
                  <% if comment.video.image? %>
                    <%= image_tag comment.video, class: :card__img1 %>
                  <% else %>
                    <%= video_tag url_for(comment.video), class: :card__img1, controls: true %>
                  <% end %>
                <% end %>   
                 <%= comment.content%>
                 <%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: :comment_user %>
                 <% if user_signed_in? && comment.user_id == current_user.id %>
                  <div class="comment__manage">
                    <%= link_to "削除する", practice_comment_path(@practice, comment), data: {turbo_method: :delete}, class: :practice__btn %>
                  </div>
                 <% end %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</main>
